@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #ededed;
  --theme: rgba(248, 199, 0, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sora: var(--font-sora);

  --color-theme: var(--theme);
  --color-theme-20: --alpha(var(--theme) / 20%)
  --color-theme-30: --alpha(var(--theme) / 30%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.nav-circle {
  width: 120px;
  height: 120px;
}

.nav-circle-small {
  width: 78px;
  height: 78px;
}

.github-icon {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(248, 199, 0, 0.33);
  background-color: rgba(248, 199, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.document-icon {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-select {
  height: 44px;
  padding: 0 10px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}



.support-btn {
  background: rgba(195, 157, 0, 1);
  box-shadow: 3px 4px 8.8px 0px rgba(255, 255, 255, 0.46) inset;
  box-shadow: 0px 0px 5.5px 0px rgba(241, 194, 1, 0.25);
  box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.side-bar {
  top: 116px;
  height: calc(100vh - 116px);
}

.tag-item {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(248, 199, 0, 0.1) 100%);
}



.ai-l2-btn {
  position: relative;
  box-shadow: 0px 0px 14.7px 0px rgba(249, 200, 1, 0.22) inset;
}

.ai-l2-btn::before {
    content: ''; 
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--theme); 
    border-radius: 50%;
}

.footer {
  background: rgba(61, 61, 61, 0.18);
  border: 6px solid rgba(255, 255, 255, 0.06);
  border-radius: 40px;
}

.footer-email {
  background: linear-gradient(120deg, #121212 20%, #000000 20%, #332A04 120%);
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 10px;
}
.email-form {
  border: 2px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 16px;
}
.email-btn {
  box-shadow: 0px 9px 15px 0px rgba(255, 253, 253, 0.45) inset;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 16px;
}

.circle {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 0px 4px 60px 0px rgba(248, 199, 0, 0.54), inset 0px 40px 60px 0px rgba(248, 199, 0, 0.45);
    border-radius: 100%;
    text-align: center;
  }
/* 第6屏 */
.six-border {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translate(-50%);
  width: 5px;
  background: linear-gradient(180deg, rgba(249, 200, 1, 0) 5%, #937601 50%, rgba(147, 118, 1, 0) 95%);
}


.c-cursor {
  background: linear-gradient(180deg, rgba(255, 240, 181, 0) 0%, #FFF0B5 48.91%, rgba(255, 240, 181, 0) 100%);
  box-shadow: 0px 0px 0.87px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 1.74px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 6.08px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 12.16px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 20.84px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 36.48px 0px rgba(248, 199, 0, 1);
}