@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #ededed;
  --theme: rgba(248, 199, 0, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sora: var(--font-sora);

  --color-theme: var(--theme);
  --color-theme-20: --alpha(var(--theme) / 20%)
  --color-theme-30: --alpha(var(--theme) / 30%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.logo-circle-left,.logo-circle-right {
  width: 20px;
  height: 84px;
  position: relative;
}
.logo-circle-left {
  clip-path: path("M 0 0 L 20 0 A 60 60 0 0 0 20 84 L 0 84 Z");
  margin-right: -17px;
}
.logo-circle-right {
  clip-path: path("M 0 0 L 20 0 L 20 84 L 0 84 A 60 60 0 0 0 0 0 Z");
  margin-left: -17px;
}
.circle-g {
  background: url('/gradient-circle.svg') no-repeat;
  background-size: 100%;
}

.nav-left, .nav-right {
  /* width: 414px; */
  height: 84px;
  
}

.nav-circle {
  width: 120px;
  height: 120px;
}

.nav-circle-small {
  width: 78px;
  height: 78px;
}

.github-icon {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(248, 199, 0, 0.33);
  background-color: rgba(248, 199, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.document-icon {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-select {
  height: 44px;
  padding: 0 10px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}



.support-btn {
  background: rgba(195, 157, 0, 1);
  box-shadow: 3px 4px 8.8px 0px rgba(255, 255, 255, 0.46) inset;

box-shadow: 0px 0px 5.5px 0px rgba(241, 194, 1, 0.25);

box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.side-bar {
  top: 116px;
  height: calc(100vh - 116px);
}

.tag-item {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(248, 199, 0, 0.1) 100%);
}



.ai-l2-btn {
  box-shadow: 0px 0px 14.7px 0px rgba(249, 200, 1, 0.22) inset;
}

.footer {
  background: rgba(61, 61, 61, 0.18);
  border: 6px solid --alpha(var(--theme) / 2%);
  border-radius: 40px;
}

.footer-email {
  background: linear-gradient(129.37deg, #121212 23.66%, #000000 52.91%, #332A04 117.75%);
  border: 2px solid --alpha(var(--theme) / 2%);
  border-radius: 10px;
}
.email-form {
  border: 2px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 16px;
}
.email-btn {
  box-shadow: 0px 9px 15px 0px rgba(255, 253, 253, 0.45) inset;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 16px;
}

.page-not-found {
  .num-404 {
    box-shadow: 0px 8px 0px 0px rgba(248, 199, 0, 1);
    border: 1px solid rgba(248, 199, 0, 1);
    background: rgba(0, 0, 0, 1);
    font-style: 'ExtraBold';
  }
}

.star-sky {
  background: url("/images/bg-star-sky.png") no-repeat;
  background-size: 100%;
}

.earth {
  width: 100%;
  height: 360px;
  overflow: hidden;
  
  .circle {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 3200px;
    height: 3200px;
    box-shadow: 0px 4px 60px 0px rgba(248, 199, 0, 0.54), inset 0px 40px 60px 0px rgba(248, 199, 0, 0.45);
    border-radius: 100%;
    text-align: center;
  }
  
  
}


/* 第6屏 */
.six-border {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translate(-50%);
  width: 5px;
  background: linear-gradient(180deg, rgba(249, 200, 1, 0) 5%, #937601 50%, rgba(147, 118, 1, 0) 95%);
}


@utility a{
  color: red;
}

@utility b {
  color: yellow;
}