@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --theme: rgba(248, 199, 0, 1);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sora: var(--font-sora);

  --color-theme: var(--theme);
  --color-theme-20: --alpha(var(--theme) / 20%);
  --color-theme-30: --alpha(var(--theme) / 30%);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
} */

html,body {
  height: 100%;
  width: 100%;
}

.nav-circle {
  width: 120px;
  height: 120px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.nav-circle-small {
  width: 78px;
  height: 78px;
}

.github-icon {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(248, 199, 0, 0.33);
  background-color: rgba(248, 199, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.document-icon {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-select {
  height: 44px;
  padding: 0 10px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-btn {
  background: rgba(195, 157, 0, 1);
  box-shadow: 3px 4px 8.8px 0px rgba(255, 255, 255, 0.46) inset;
  box-shadow: 0px 0px 5.5px 0px rgba(241, 194, 1, 0.25);
  box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.btn2 {
background: rgba(195, 157, 0, 0.12);
border: 1px solid rgba(255, 255, 255, 0.32);
box-shadow: 0px 0px 5.5px rgba(241, 194, 1, 0.25), inset 0px -5px 4px rgba(0, 0, 0, 0.25), inset 3px 4px 8.8px rgba(255, 255, 255, 0.46);
border-radius: 12px;
}

.side-bar {
  top: 116px;
  height: calc(100vh - 116px);
}

.tag-item {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(248, 199, 0, 0.1) 100%);
}

.ai-l2-btn {
  position: relative;
  box-shadow: 0px 0px 14.7px 0px rgba(249, 200, 1, 0.22) inset;
}

.ai-l2-btn::before {
    content: ''; 
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--theme); 
    border-radius: 50%;
}

.footer {
  background: rgba(61, 61, 61, 0.18);
  border: 6px solid rgba(255, 255, 255, 0.06);
  border-radius: 40px;
}

.footer-email {
  background: linear-gradient(120deg, #121212 20%, #000000 20%, #332A04 120%);
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  background-clip: padding-box;
}
.email-form {
  border: 2px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 16px;
}
.email-btn {
  box-shadow: 0px 9px 15px 0px rgba(255, 253, 253, 0.45) inset;
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 16px;
}

.circle {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 0px 4px 60px 0px rgba(248, 199, 0, 0.54), inset 0px 40px 60px 0px rgba(248, 199, 0, 0.45);
    border-radius: 100%;
    text-align: center;
  }
/* 第6屏 */
.six-border {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translate(-50%);
  width: 5px;
  background: linear-gradient(180deg, rgba(249, 200, 1, 0) 5%, #937601 50%, rgba(147, 118, 1, 0) 95%);
}

.c-cursor {
  background: linear-gradient(180deg, rgba(255, 240, 181, 0) 0%, #FFF0B5 48.91%, rgba(255, 240, 181, 0) 100%);
  box-shadow: 0px 0px 0.87px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 1.74px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 6.08px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 12.16px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 20.84px 0px rgba(248, 199, 0, 1);
  box-shadow: 0px 0px 36.48px 0px rgba(248, 199, 0, 1);
}


.accelerate-ail2 {
font-family: 'Sora';
font-style: normal;
font-weight: 800;
display: inline-flex;
align-items: center;
text-align: center;
background: linear-gradient(100.09deg, #F8C700 12.95%, #FFFFFF 47.59%, #F8C700 88.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
